span {
	display:inline-block;
	vertical-align: top;
}

.hidecolumn {
	display:none;
}

.statistics_content {
	height:100%;
}

.called-content {
	float:left;
	width:100%;
}

.called-table {
	width:100%;
}

.person_info {
	background-color:#D9D9D9;
	position: fixed;
	height:100%;
	right:0;
	width:40%;
	overflow:auto;
}

.togglestats {
    width:90%;
    height:1.5em;
    right:0;
    position:fixed;
    text-align: right;
}

.togglestats a {
	padding:2px;
}

.filterlabel {
	margin:0;
    padding-top:5px;
    padding-bottom: 1px;
    clear:both;
    font-size:85%;
    line-height: 160%;
    color:#444;
    display:block;
    text-align: left;
}